body{
    margin: 0 50px 0 100px;
     font-family:"raleway";
}
.logoreservia{
    padding-top: 40px;
}
.entete{

    display: flex;
    justify-content: space-between;
}
.liens{
    display:flex;
    align-items: center;
    margin-top: 30px;
}

.ancres{
    display:flex;
    list-style: none;
   
}
.ancres  a:hover{
 color: #0065fc;
 cursor: pointer;
 border-top: 2px solid;
 padding-top: 40px;
 
}
.bouton_ancre_hebergements{
    border-top: 2px solid #0065fc;
    padding: 40px 15px 0 15px;
    margin-right: 60px;
    text-decoration: none;
    width: 15%;
    cursor:pointer;
}

.bouton_ancre_activites{
    color:black;
    margin-right: 60px;
    padding-top: 40px;
    text-decoration: none;
}


    





    



h1{
    font-size:x-large ;
    font-weight: bold;
}


p{
    font-family:'raleway medium', arial ;
}

#recherche{
    display: flex;
    text-align: left;
    margin-right: 50px;
}

.marqueur{
    border:1px solid #F2F2F2;
    padding: 13px 17px 13px 17px;
    border-radius: 9px 0 0 9px ;
    background:#f2f2f2 ;

    

}

    

.ville{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 30px;
    border:1px solid #f2f2f2;
    border-right: none;
    border-left: none;
    font-weight: bold;
}
.moteur{
    border:1px solid white;
    padding: 13px 12px 13px 12px;
    border-radius:0 9px 9px 0 ;
    color:white;
    background:#0065FC;
    font-weight: bold;

}
.moteur:hover{
    color:#0065FC;
    background-color: #f2f2f2;
}

.moteur .fa-search{
    display:  none;
}


 .icone{
    display:flex;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
 } 
 
 .icone p{
     font-weight: bold;
     margin-right: 40px;

 }
  .fa-money-bill-wave {
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    padding: 17px 15px 17px 15px;
    background-color:#DEEBFF;
}
.fa-money-bill-wave:hover{
   background-color:white ;
   
}
.billet   {
    border:solid 1px #d3d3d3;
    border-width: 2px 2px 2px 0;
    border-radius:100px 90px 90px 100px;
    margin-right: 20px;
    width: 180px;
    height: 3.2em;
}
.billet b{
    padding-left: 10px;
}




.fa-child {
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    padding: 15px 17px 15px 17px ;
    
    background-color:#DEEBFF;
     }
    .fa-child:hover{
        background-color: white;
    }
 .famille{
    border:solid 1px #d3d3d3;
    border-width: 2px 2px 2px 0;
    border-radius:100px 90px 90px 100px;
    width:160px;
    height: 3em;
    margin-right: 20px;

 } 
 .famille b{
     padding-left: 10px;
 }
 .fa-heart{
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    padding: 15px;
   
    background-color:#DEEBFF;
     }
     .fa-heart:hover{
         background-color: white;
     }
 .romance{
    border:solid 2px #d3d3d3;
    border-width: 2px 2px 2px 0;
    border-radius:100px 90px 90px 100px;
    width:180px;
   height:3em;
   margin-right: 20px;
 } 
 .romance b{
     padding-left: 10px;
 }  
  .fa-dog{
    border: solid 1px #F2F2F2;
    border-radius: 50%;
    padding: 15px;
    background-color:#DEEBFF;
} 
.fa-dog:hover{
    background-color: white;
}    
 .chien{
    border:solid 2px #d3d3d3;
    border-width: 2px 2px 2px 0;
    border-radius:100px 90px 90px 100px;
    width: 210px;
    height: 3em;
    
 }
 .chien b{
     padding-left: 10px;
     
 }
.info{
    display: flex;
    align-items: center;
}
   
 .fa-info{
    border: solid 1px #d3d3d3;
    padding: 7px 13px 20px 10px;
    border-radius:50px;
    margin:40px 20px 40px 0;
 }

 .section-1{
    border-style: none;
    width: 65%;
    height: 800px;
    border-radius: 10px;
    background:#F2F2F2 ;
    
    }
 

.section-1 h2{
    padding:40px 0 0 30px;
}
#room{
    display: flex;
    flex-wrap:  wrap ;  
    width:100%;
    
    
}
.chambre{
    width: 100%;
    height: 260px;
    background:white;
    border-radius: 13px;
    margin: 20px;
    flex: 25%;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    padding:3px;

}
.chambre img{
    width:100%;
    height:53% ;
    border-radius: 11px 11px 0 0;
  
  object-fit: cover;

}
.chambre:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.sous_titre p{
   
    font-weight: bold;
    margin:0 0 10px 10px;
    
}
.etoilebleu{
    color:#0065FC;
}
.etoilegrise{
    color:#d3d3d3;
    
}
main{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
 }
 
     
 
  
 
.section-2{
    
    border-style: none;
    width:30%;
    height: 800px;
    background-color: #F2F2F2;
    border-radius:10px ;
   
}
.titre_icone{
    display: flex;
    justify-content: space-between;
}
.titre_icone h2{
    padding:40px 0 0 30px;
}
.titre_icone .fa-chart-line{
    padding: 55px 40px 0 0;
   
}


.chambre-2{
    width: 85%;
    height: 20%;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    padding:5px;
    margin:28px;
    overflow: hidden;
    border-radius: 18px;
    }
   .chambre-2 img{
        width:40%;
        height:100% ;
        border-radius: 11px 0 0 11px;
        margin-right: 15px;
        float:left;
         object-fit: cover;
      

      }
      .chambre-2 p{
          padding-bottom: 8px;
      }
      .chambre-2:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

      .section-3{
          margin-top: 20px;
        border-style: none;
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
      }
      .section-3 h2{
          padding: 0px 0 0 20px;
      }
  .activite-1{
    width: 21%;
    height: 400px;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    margin:20px;
    border-radius: 18px;
     
     
  }
  .activite-1 p{
      text-align: left;
      padding-left: 10px;
  }
 
  
  .activite-1 img{
    width:100%;
        height:85% ;
        border-radius: 11px  11px  0 0;
        object-fit: cover;
  }
  .activite-1:hover{
    cursor: pointer;
    transform: scale(1.1);
    }

.activite-2{
    width: 21%;
    height: 220px;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    margin:15px;
    margin-top: 85px;
    
    border-radius: 18px; 
}
.activite-2 p{
    padding-left: 10px;
}
.activite-2 img{
    width:100%;
    height:75% ;
    border-radius: 11px  11px  0 0;
    object-fit: cover;
}
.activite-2:hover{
    cursor: pointer;
    transform: scale(1.1);
    }
.activite-3{
    width: 21%;
    height: 153px;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    
    margin:15px;
    border-radius: 18px; 
}
.activite-3 p{
    padding-left: 10px;
}
.activite-3 img{
    width:100%;
    height:65% ;
    border-radius: 11px  11px  0 0;
    object-fit: cover;
}
.activite-3:hover{
    cursor: pointer;
    transform: scale(1.1);
    }
.activite-4{
    width: 21%;
    height: 400px;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    margin:20px;
    margin-top: 85px;
    border-radius: 18px; 
}
.activite-4 p{
    padding-left: 10px;
}

.activite-4 img{
    width:100%;
    height:85% ;
    border-radius: 11px  11px  0 0;
    object-fit: cover;
}
.activite-4:hover{
    cursor: pointer;
    transform: scale(1.1);
    }
.activite-5{
    width: 21%;
    height: 172px;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    margin:15px;
    margin-top: 85px;
    border-radius: 18px; 
}
.activite-5 p{
    padding-left: 10px;
}
.activite-5 img{
    width:100%;
    height:70% ;
    border-radius: 11px  11px  0 0;
    object-fit: cover;
}
.activite-5:hover{
    cursor: pointer;
    transform: scale(1.1);
    }
.activite-6{
    width: 21%;
    height: 200px;
    background:white;
    box-shadow : 0 0 10px rgb(194, 190, 190);
    margin:15px;
    border-radius: 18px; 
}
.activite-6 p{
    padding-left: 10px;
}
.activite-6 img{
    width:100%;
    height:75% ;
    border-radius: 11px  11px  0 0;
    object-fit: cover; 
}
.activite-6:hover{
    cursor: pointer;
    transform: scale(1.1);
}
footer{
    border-style: none;
    width: 100%;
    height: min-content;
    display: flex;
   justify-content: space-between;
   background-color: #F2F2F2;
   padding-top: 50px;
}
.titre-footer{
    margin: 0 250px 0 0;
    padding-left: 50px;
}
/* mobile */
@media only screen and (max-width: 1260px ) {

.entete {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.logoreservia {
    margin: 0px 0 0 30px;
}
.liens {
    width: 100%;
 
}
.ancres { 
    display: flex;
    width: 100%;
    padding: 0;
    margin-right: 0;
}

.ancres a{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    padding-bottom: 40px;
    text-decoration: none;
    border-bottom: 3px solid #F2F2F2;
    margin-right: 0px;
    border-top: none;
}

.ancres a:hover {
    color: #0065FC;
    cursor: pointer;
    list-style-type: none;
    /* padding: 40px 30px 0px 30px; */
    /* padding-bottom: 40px; */
    border-top: none;
    border-bottom: 3px solid #0065FC;
}

.ancres li{
    width: 100%;
    display: flex;
    padding: 0;
    /* text-align: center; */
    justify-content: center;
    /* border-bottom: 3px solid #F2F2F2;*/
}
.btn-sinscrire {
    position: absolute;
    top: 60px;
    right: 15px;
    padding-top: 0;
}
body{
    margin: 0 auto;
    max-width:100%;
}
 h1  {
    width: 350px;

 }

}
@media only screen and (max-width: 767px ) {
    .icone{
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
        height: 250px;
        margin-left: 10px;
        
     } 
     .famille{
        border:solid 1px #d3d3d3;
        border-width: 2px 2px 2px 0;
        border-radius:100px 90px 90px 100px;
        width:127px;
        height: 3em;
        order:1;
        margin-top: 50px;
    
     } 
     .billet   {
        border:solid 1px #d3d3d3;
        border-width: 2px 2px 2px 0;
        border-radius:100px 90px 90px 100px;
        margin-right: 20px;
        width: 180px;
        height: 3.2em;
        margin-bottom: 10px;
    }
    .romance{
        border:solid 2px #d3d3d3;
        border-width: 2px 2px 2px 0;
        border-radius:100px 90px 90px 100px;
        width:180px;
       height:3em;
       margin-right: 20px;
       margin-bottom: 10px;
     } 
     .billet   {
        border:solid 1px #d3d3d3;
        border-width: 2px 2px 2px 0;
        border-radius:100px 90px 90px 100px;
        margin-right: 20px;
        width: 180px;
        height: 3.2em;
        margin-bottom: 10px;
    }
    .moteur .fa-search{
        display:  contents;
    }
    .moteur b{
        display: none;
    }
}
@media only screen and (max-width: 767px ){

    main{
        display:flex;
       /* justify-content: space-between;*/
        flex-wrap: wrap;
        flex-direction: column;
        
        
     }
     #room{
        display: flex;
       
        width:320px;
        height: 190px;
        flex-direction: column;
        flex-wrap: nowrap;
    } 
        

    .section-1{
        border-style: none;
        width: 370px;
        height: 2000px;
        border-radius: 10px;
        background:white ;
        order:1;
        }
        
.section-2{
    
    border-style: none;
    width:370px;
    height: 800px;
    background-color: #F2F2F2;
    border-radius:10px ;
   
}

        
      .section-3{
        margin-top: 20px;
      border-style: none;
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      flex-wrap:  nowrap;
      order:1;
      margin-bottom: 850px;
    }
    .activite-1{
        width: 340px;
        height: 190px;
        background:white;
        box-shadow : 0 0 10px rgb(194, 190, 190);
        margin:20px;
        border-radius: 18px;
    }


        .activite-1 img{
            width:100%;
                height:65% ;
                border-radius: 11px  11px  0 0;
                object-fit: cover;
          }
         
          .activite-2{
            width: 340px;
            height: 190px;
            background:white;
            box-shadow : 0 0 10px rgb(194, 190, 190);
            margin:15px;
           /* margin-top: 85px;*/
            
            border-radius: 18px; 
        }

        .activite-2 img{
            width:100%;
            height:65% ;
            border-radius: 11px  11px  0 0;
            object-fit: cover;
        }
        .activite-3{
            width: 340px;
            height: 190px;
            background:white;
            box-shadow : 0 0 10px rgb(194, 190, 190);
            
            margin:15px;
            border-radius: 18px; 
        }
        .activite-3 img{
            width:100%;
            height:65% ;
            border-radius: 11px  11px  0 0;
            object-fit: cover;
        }
         .activite-4{
            width: 340px;
            height: 190px;
            background:white;
            box-shadow : 0 0 10px rgb(194, 190, 190);
            margin:20px;
          /*  margin-top: 85px;*/
            border-radius: 18px; 
        }
        .activite-4 img{
            width:100%;
            height:65% ;
            border-radius: 11px  11px  0 0;
            object-fit: cover;
        }
        .activite-5{
            width: 340px;
            height: 190px;
            background:white;
            box-shadow : 0 0 10px rgb(194, 190, 190);
            margin:15px;
         /*   margin-top: 85px;*/
            border-radius: 18px; 
        }
        .activite-5 img{
            width:100%;
            height:65% ;
            border-radius: 11px  11px  0 0;
            object-fit: cover;
        }
        .activite-6{
            width: 340px;
            height: 190px;
            background:white;
            box-shadow : 0 0 10px rgb(194, 190, 190);
            margin:15px;
            border-radius: 18px; 
        }
        .activite-6 img{
            width:100%;
            height:65% ;
            border-radius: 11px  11px  0 0;
            object-fit: cover; 
        }
       footer{
            border-style: none;
            width: 100%;
            height: min-content;
            display: flex;
           justify-content: space-between;
          flex-direction: column;
           background-color: #F2F2F2;
           padding-top: 50px;
        
        }
        .titre-footer{
            margin: 0 0 30px 0;
            padding-left: 50px;
        }
}
 
/* version tablette*/

@media only screen and (max-width: 1260px ) and (min-width:768px){
    main{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        
     }
     .sous_titre p{
   
        font-weight: bold;
        margin:50px
        
    }
    .section-1{
        border-style: none;
        width: 100%;
        height: 800px;
        border-radius: 10px;
        background:#F2F2F2 ;
        
        }
}

@media only screen and (max-width: 1260px ) and (min-width:768px){

    .section-2{
    
        border-style: none;
        width:100%;
        height: 800px;
        background-color: #F2F2F2;
        border-radius:10px ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .chambre-2 {
        width: 50%;
        height: 20%;
        background: white;
        box-shadow: 0 0 10px rgb(194 190 190);
        padding: 5px;
        margin: 28px;
        overflow: hidden;
        border-radius: 18px;
    }
    .titre_icone h2 {
        padding: 40px 20px 0 30px;
    }
    
    .section-3{
        margin-top: 20px;
      border-style: none;
      width: 90%;
      height: 600px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      
    }
    footer{
        border-style: none;
        width: 100%;
        height: min-content;
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
       background-color: #F2F2F2;
       padding-top: 50px;
    }
}
